{% load static %}




{% comment %} main header {% endcomment %}
<div id="header">
    <div class="container">
        <nav class="navbar">
            
            <span> <i class="fas fa-bars" id = "nav-btn"></i></span>
            
            
            <img src="https://instaeats.in/static/new_templates_assets/images/logo_wth_bg.svg" alt="" class="img-fluid">

        
            <ul class="nav-item">
                <li class="nav-link active">
                    <a href="/">Home</a>
                </li>
                <li class="nav-link">
                    <a href="./store">Our products</a>
                </li>
                <li class="nav-link">
                    <a href="">Reviews</a>
                </li>
                <li class="nav-link">
                    <a href="">About us</a>
                </li>
                <div class="cart-btn">
                    <a href="./cart"><i class="fas fa-shopping-cart" ></i></a>
                </div>

                <li class="lgn-btn">
                    <a href="">Login</a>
                </li>

                
            </ul>
        </nav>
    </div>
</div>



{% comment %}  side navbar{% endcomment %}
<div id = "nav"class="side-nav">
    <button type="button" class="btn-close" aria-label="Close"></button>
    <div class="cart-body">
        <img src="https://instaeats.in/static/new_templates_assets/images/logo_wth_bg.svg" alt="" class="img-fluid">
        <ul class="nav-item">
            <li class="nav-link ">
                <a href="">Home</a>
            </li>
            <li class="nav-link">
                <a href="">Our products</a>
            </li>
            <li class="nav-link">
                <a href="">Reviews</a>
            </li>
            <li class="nav-link">
                <a href="">About us</a>
            </li>
            <li class="lgn-btn">
                <a href="">Login</a>
            </li>

            
        </ul>
    </div>
</div>