*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    
}


#header .navbar .img-fluid{
    height: 70px;
    margin-left: -600px;
    margin-top: 10px;
}

#header .navbar .nav-item {
    display: flex;
    text-decoration: none;
    align-items: center;
    align-content: center;
    margin-top: 10px;
}


#header .navbar .nav-item .nav-link a{
    text-decoration: none;
    align-content: space-between;
    margin-right: 35px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}

#header .navbar .nav-item .cart-btn a {
    
    color: white;
    text-decoration: none;

    list-style: none;
    font-size: 20px;
}


#header {
    background-color: #5BB974;
   
}


#header .navbar .nav-item .lgn-btn a{

    background-color: #5BB974;
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;

}

#main-section .row h4{
    margin-top: -70px;
    font-size: 37px;
    font-weight: 800;
    
    
}
#main-section .row .slider p{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 2px;
}

#main-section .row .slider .line{
    width: 22%;
    height: 6px;
    background-color:black;
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
   
}
#main-section .row{
    align-items: center;
    align-content: center ;
    flex: wrap;
}


#main-section .row img{
    height: auto;
    max-height: 600px;
}

#main-section{
    background-color: #5BB974;
   
    height: auto;
    min-height: 600px;
  
    
}






.side-nav {
    width: 400px;
    height: 100%;
    top: 0;
    left: -600px;
    position: fixed;
    background-color: white;
    text-decoration: none;
    overflow: auto;
    transition: all ease 0.3s;
}


.side-nav .cart-body ul li a{
    text-decoration: none;
    color: black;
    font-size: 19px ;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 20px;
    
    
}


.side-nav .cart-body ul li{
    margin-bottom: 15px;
    border-bottom: 1px solid #ececec;
}

.side-nav .btn-close{
    position: absolute;
    left: 350px;
    top: 20px;
    font-size: 19px;
}



.side-nav .cart-body ul{
    margin-top:30px;
}

.side-nav .cart-body img{
    height: 80px;
    margin : 10px 0  0 10px;
}


.side-nav .cart-body ul .lgn-btn{
    text-decoration: none;
    list-style: none;
}

#header .navbar i{
    display: block;
}

#header .navbar #nav-btn{
    display: none;
}

#main-section .swiprow .slider .test-btn a{
    color: white;
    text-decoration: none;
    border: 3px solid black;
    background-color: black;
    font-weight: 500;
    padding: 10px 50px 10px 20px;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 6px;
    position: absolute;
    align-items: center;
    align-content: center;
}
#main-section .swiprow .slider .test-btn a:hover{
    background-color: white;
    transition: all ease 0.5s;
    color: black;
}
@media all and (max-width : 900px){
    #header .navbar #nav-btn{
        display: block;
    }
    
}
@media (max-width: 900px){
 #main-section .swiprow {
    flex-wrap: wrap-reverse;
    text-align: center;
    align-items: center;
    
 }
 #main-section .row h4{
    margin-top: 40px;
   
   
    font-size: 22px;
    text-align: center;
 }
 #main-section{
    overflow-x: hidden;
 }
 body{
    max-width: 400px;
 }

#header .navbar .nav-item .nav-link a{
    display: none;
}


#header .navbar .img-fluid{
    margin-left: -100px;
}

}

@media all and (max-width: 450px){
    #header .navbar .img-fluid{
        margin-left: -160px;
        width: 60px;
   
}

#main-section{
    overflow: none;
    min-height: auto;
    box-sizing: border-box;
    background-color: white;
}
}

#header .navbar .nav-item .nav-link :hover{
    color: black;
    transition: all ease 0.5s;
}

#header .navbar .nav-item .nav-link a.active::after{
    content: '';
    background: var(--theme-color-darker-10);
    height: 3px;
    position: absolute;
    left: 6px;
    right: 6px;
    bottom: 0px;
    background: var(--color-white);
}


.client_logo img{
    display: flex;
    height: 60px;
}


.products .container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
}

.products .card{
    margin-right: 19px;
    margin-top: 19px;
}


#cart-card img{
    height: 300px;
    width: 300px;
    border: 1px solid grey;
}


#cart-card{
    width: 1000px !important;
    height: 620px;
    margin-top: 20px;
    justify-content: center;
    margin-left: 300px;
}


.card-body .prd-title{
    margin-left: 20px;
    font-weight: 500;
}


.card-body .qty{
    margin-left: 20px;
    font-weight: 500;
}


.card-body .prd-dis{
    margin-left: 20px;
    font-weight: 500;
}

.card-body .prd-amnt{
    margin-left: 548px;
    margin-bottom: 9px;
    margin-top: -51px;
    font-weight: 500;
    font-size: 20px;
}

#cart-card .crt_price{
    font-weight: 450;
    line-height: 20px;
    margin-left: 33px;
}


#cart-card .cart-price p{
    font-weight: 500;
    font-size: 25px;
    margin-left: 30px;
}

 .cart_price a {
    float: right;
    margin-bottom: 40px;
    margin-right: 45px;
    padding: 11px 9px 10px 9px;
    border: 2px solid darkorange;
    text-decoration: none;
    color: white;
    background: darkorange;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 1px;
    border-radius: 8px;
   
}

.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
    ;min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
div {
    text-align: center;
}
.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
/* span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
} */
input{  
    border: 0;
    width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* -webkit-appearance: none; */
    margin: 0;
}
input:disabled{
    background-color:white;
}
         